.header{
    background-color: rgb(124, 127, 128);
    border:2px solid white;
    text-align: center;
    font-family:cursive;
    font-size: 4rem;
    height: 15vh;
    color: black;
    grid-area: inherit;
}
.container{
    display: grid;
    grid-template-columns: 35% 31% 34%;
    grid-template-rows: 33em auto fit-content(8rem);
    
    
    
}
.column1{
    background-color: beige;
    border: 1px solid white;
    bottom: 0rem;
    position: relative;
    text-align: center;
}
.column2{
    background-color:wheat;
    text-align: center;
    border: 1px solid white;
}
.column3{
    background-color: bisque;
    border: 1px solid white;
}
.footer{
    background-color: rgb(124, 127, 128);
    border:2px solid white;
    text-align: center;
    font-family:cursive;
    font-size: 2rem;
    height: 10vh;
    color: black;
    grid-area: inherit;
}